@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: outfit;
}
img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}
.cont {
  background-color: #ffff;
  width: 320px;
  height: 497px;
  border-radius: 20px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont3 {
  margin-left: 25px;
  
}
.cont4 {
  width: 256px;
  height: 57px;
  top: 72px;
  left: 16px;
  margin-bottom: 40px;
}
